# Week 7 - Wednesday May 17th

In [1]:
import sqlite3

## Fragility

In [10]:
conn = sqlite3.connect("database.db")
c = conn.cursor()
c.execute("SELECT * FROM Species")
c.fetchall()
rows = c.fetchall()

In [11]:
rows[0]

c.execute("""
    SELECT Code, Common_name, Scientific_name, Relevance
    FROM Species
    LIMIT 3""")

rows = c.fetchall()

rows[0][1]

IndexError: list index out of range

## Safe interpolation of query parameters

In [12]:
c.execute("SELECT Name FROM Personnel LIMIT 1").fetchone()

('Aaron Gottesman',)

In [13]:
template = """SELECT Name FROM Personnel
    WHERE Abbreviation = '%s'"""

In [15]:
abbrev = "agottesman"
c.execute(template % abbrev)
c.fetchall()

[('Aaron Gottesman',)]

In [25]:
template = """SELECT COUNT(*)
FROM Bird_nests
WHERE Species = '%s'"""

c.execute("SELECT Code FROM Species")

for row in c:
    code = row[0] # A way of 
    c2 = conn.cursor()
    c2.execute(template%code)
    print("species %s has %s nests" % (code, c2.fetchone()[0]))

species agsq has 0 nests
species amcr has 0 nests
species amgp has 29 nests
species arfo has 0 nests
species arte has 0 nests
species basa has 0 nests
species bbis has 0 nests
species bbpl has 43 nests
species bbsa has 0 nests
species besw has 0 nests
species bltu has 0 nests
species brant has 0 nests
species brbe has 0 nests
species brle has 0 nests
species btcu has 0 nests
species btgo has 3 nests
species cole has 0 nests
species cora has 0 nests
species cosn has 0 nests
species crpl has 2 nests
species cusa has 0 nests
species dunl has 101 nests
species eywa has 0 nests
species glgu has 0 nests
species goea has 0 nests
species gwfg has 0 nests
species gwgu has 0 nests
species gwte has 0 nests
species gyrf has 0 nests
species herg has 3 nests
species hore has 0 nests
species hugo has 0 nests
species kill has 0 nests
species lalo has 33 nests
species lbdo has 1 nests
species lesa has 0 nests
species leye has 0 nests
species list has 0 nests
species ltdu has 0 nests
species ltja has 0 nests
species ltwe has 0 nests
species mago has 0 nests
species megu has 0 nests
species merl has 0 nests
species noha has 0 nests
species nopi has 0 nests
species nrvo has 0 nests
species nsho has 0 nests
species pagp has 0 nests
species paja has 2 nests
species palo has 0 nests
species pefa has 0 nests
species pesa has 14 nests
species pobe has 0 nests
species poja has 0 nests
species pusa has 0 nests
species refo has 0 nests
species rekn has 0 nests
species reph has 80 nests
species rlha has 0 nests
species rnph has 74 nests
species rnst has 0 nests
species rosa has 0 nests
species rtpi has 0 nests
species ruff has 0 nests
species rutu has 30 nests
species sacr has 0 nests
species sagu has 0 nests
species sand has 0 nests
species savs has 0 nests
species sbdo has 1 nests
species sbgu has 0 nests
species seow has 0 nests
species sepl has 105 nests
species sesa has 485 nests
species snow has 0 nests
species spei has 0 nests
species spre has 0 nests
species spsa has 0 nests
species spts has 0 nests
species stsa has 0 nests
species stwe has 0 nests
species test has 1 nests
species thgu has 0 nests
species tusw has 0 nests
species tuvo has 0 nests
species unfa has 0 nests
species ungu has 0 nests
species unja has 0 nests
species unle has 0 nests
species unra has 0 nests
species vegu has 0 nests
species wesa has 457 nests
species whim has 0 nests
species wipt has 0 nests
species wisn has 0 nests
species wolv has 0 nests
species wosa has 0 nests
species wrsa has 83 nests

In [26]:
template = """SELECT COUNT(*)
FROM Bird_nests
WHERE Species = ?  """

c.execute("SELECT Code FROM Species")

for row in c:
    code = row[0] 
    c2 = conn.cursor()
    c2.execute(template, [code])
    print("species %s has %s nests" % (code, c2.fetchone()[0]))

species agsq has 0 nests
species amcr has 0 nests
species amgp has 29 nests
species arfo has 0 nests
species arte has 0 nests
species basa has 0 nests
species bbis has 0 nests
species bbpl has 43 nests
species bbsa has 0 nests
species besw has 0 nests
species bltu has 0 nests
species brant has 0 nests
species brbe has 0 nests
species brle has 0 nests
species btcu has 0 nests
species btgo has 3 nests
species cole has 0 nests
species cora has 0 nests
species cosn has 0 nests
species crpl has 2 nests
species cusa has 0 nests
species dunl has 101 nests
species eywa has 0 nests
species glgu has 0 nests
species goea has 0 nests
species gwfg has 0 nests
species gwgu has 0 nests
species gwte has 0 nests
species gyrf has 0 nests
species herg has 3 nests
species hore has 0 nests
species hugo has 0 nests
species kill has 0 nests
species lalo has 33 nests
species lbdo has 1 nests
species lesa has 0 nests
species leye has 0 nests
species list has 0 nests
species ltdu has 0 nests
species ltja has 0 nests
species ltwe has 0 nests
species mago has 0 nests
species megu has 0 nests
species merl has 0 nests
species noha has 0 nests
species nopi has 0 nests
species nrvo has 0 nests
species nsho has 0 nests
species pagp has 0 nests
species paja has 2 nests
species palo has 0 nests
species pefa has 0 nests
species pesa has 14 nests
species pobe has 0 nests
species poja has 0 nests
species pusa has 0 nests
species refo has 0 nests
species rekn has 0 nests
species reph has 80 nests
species rlha has 0 nests
species rnph has 74 nests
species rnst has 0 nests
species rosa has 0 nests
species rtpi has 0 nests
species ruff has 0 nests
species rutu has 30 nests
species sacr has 0 nests
species sagu has 0 nests
species sand has 0 nests
species savs has 0 nests
species sbdo has 1 nests
species sbgu has 0 nests
species seow has 0 nests
species sepl has 105 nests
species sesa has 485 nests
species snow has 0 nests
species spei has 0 nests
species spre has 0 nests
species spsa has 0 nests
species spts has 0 nests
species stsa has 0 nests
species stwe has 0 nests
species test has 1 nests
species thgu has 0 nests
species tusw has 0 nests
species tuvo has 0 nests
species unfa has 0 nests
species ungu has 0 nests
species unja has 0 nests
species unle has 0 nests
species unra has 0 nests
species vegu has 0 nests
species wesa has 457 nests
species whim has 0 nests
species wipt has 0 nests
species wisn has 0 nests
species wolv has 0 nests
species wosa has 0 nests
species wrsa has 83 nests