In [1]:
# Load in the Libraries
import sqlite3
import sys

In [2]:
def test_environment():
    print("Python environment test successful!")
    print("Python version:", sys.version)
    print("Hello, world!")

test_environment()

Python environment test successful!
Python version: 3.9.7 (default, Sep 16 2021, 08:50:36)
[Clang 10.0.0 ]
Hello, world!

In [3]:
import sqlite3

if sqlite3.sqlite_version_info:
    print("sqlite3 library is available.")
else:
    print("sqlite3 library is not found.")

sqlite3 library is available.

In [4]:
"Hello, %s!" % "Greg"
## Tuples
[2,3,5] #list with 3 elements

[2, 3, 5]

In [5]:
# List Comprehensions

my_list = [2,3,5,7]

list_squares = []

for n in my_list:
    list_squares.append(n*n)

list_squares

# List comprehension example
[n*n*n for n in my_list]

[8, 27, 125, 343]

In [6]:
# Query Results

query_result = [(2,), (3,), (5,), (7,)]
[t[0] for t in query_result]

[2, 3, 5, 7]

# Database programming

In [7]:
import sqlite3
conn = sqlite3.connect("database.db")
conn

Got a connection, now need a cursor

In [8]:
c = conn.cursor()
c

In [9]:
c.execute("""
SELECT Nest_ID, floatAge, ageMethod
FROM Bird_nests
LIMIT 10"""
)

In [10]:
c.fetchall()

[('14HPE1', None, None),
 ('11eaba', None, None),
 ('11eabaagc01', 6.0, 'float'),
 ('11eabaagv01', 3.0, 'float'),
 ('11eababbc02', 4.0, 'float'),
 ('11eababsv01', 2.0, 'float'),
 ('11eabaduh01', 2.0, 'float'),
 ('11eabaduv01', 5.0, 'float'),
 ('11eabarpc01', 4.0, 'float'),
 ('11eabarpc02', 4.0, 'float')]

In [16]:
c.execute("SELECT Nest_ID FROM Bird_nests LIMIT 10")
[t[0] for t in c.fetchall()]


c.execute("SELECT COUNT(*) FROM Bird_nests")
c.fetchone()

(1547,)

In [17]:
c.execute("SELECT Nest_ID FROM Bird_nests LIMIT 10")
for row in c:
    print("got nest ID %s" % row[0])

got nest ID 04coatapg01
got nest ID 04coatapg02
got nest ID 04coatapj01
got nest ID 04coatapj02
got nest ID 04coatapp01
got nest ID 04coatapp02
got nest ID 04coatapp03
got nest ID 04coatbbg01
got nest ID 04coatbbg02
got nest ID 04coatbbg03

# Do things other than querying

In [18]:
c.execute("""
CREATE TEMP TABLE mytemp AS
SELECT * FROM Bird_nests LIMIT 10""")

In [20]:
c.fetchall